.top_panel_container {
    display: flex;
    z-index: 10;
    position: fixed;
    height: 70px;
    background: #ffffff;
    width: 100%;
}

.top_panel {
    align-self: center;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.top_panel h4 {
    font-family: OpenSansBold, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
}

.menu a {
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #212121;
    font-size: 14px;
    text-decoration: none;
    margin: 0 15px;
}
